.Main{
    
    background-color: rgba(253, 253, 253, 1);
    align-items: center;
}

.wrap{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 330px);
    text-decoration: none;
    justify-items: center;
    justify-content: center;
    
}
.wrap a{
    text-decoration: none;
}
.book{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    
}
.preview{
    width: calc(240px + 1vw);
    
    height: 340px;
    border-radius: 7%;
    
}
.type{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: calc(1px + 1vw);
    color: white;
    background-color: rgba(93, 106, 251, 1);
    padding: 1px 6px;
    margin-top: 4px;
    border-radius: 10%;
}
.title{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: calc(2px + 1vw);
    color: rgb(59, 59, 59);
}